* {
  box-sizing: border-box;
}

html,
body {
  //background-color: var(--bg-color);
  font-size: 14px;
  margin: 0;
  color: #333;
}

blockquote,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: #333;
  text-decoration: none;
}

.mt24 {
  margin-top: 24px;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
  font-size: 16px;
  display: inline-flex;
}
